<!DOCTYPE html>
<html>
<head>
    <title>Nova Saida no SGE</title>
</head>
<body>
    
    <div class="container">
        <p><h3>Nova saída registrada no SGE!</h3></p>
        <p>Produto: <b>{{ product_name }}</b></p>
        <p>Quantidade: <b>{{ quantity }}</b></p>
        <p>Valor Total: <b>{{ total_value }}</b></p>
        <p>Lucro com a venda: <b>{{ profit_value }}</b></p>
        <p>Data e horário da venda: <b>{{ timestamp }}</b></p>
        <br><br>
        <p>
            Atenciosamente, <br>
            Sistema de Gestão de Estoque (SGE)
        </p>
    </div>

</body>
</html>